body, header, nav, ul, li {
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
}
li {
    padding: 15px;
    font-size: 18px;
    float: left;
    transition: all .5s;
}

header li a {
    text-decoration: none;
    color: crimson;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
}
header li:hover {
    background-color: rgb(30, 104, 240);
}
header li:hover a {
    border: 1px solid crimson;
}
ul {
    list-style: none;
    width: 100%;
    background-color: cornflowerblue;
}
ul:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 677px){
    li {
        padding: 5px 15px;
        font-size: 24px;
        float: none;
    } 
    header li a {
        font-weight: 700;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}