body {
    background-color: lightskyblue;
}
* {
    box-sizing: border-box;
}

.container {
    padding: 20px;
    border: 1px solid chocolate;
    border-radius: 30px;
    width: 300px;
  position: relative;
}
.container img {
    width: 100%;
    height:auto;
    display: inline-block;
}

.container .title {
    width: calc(100% - 100px);
    height:auto;
    background-color: lightsteelblue;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: absolute;
   bottom: 90px;
   right: 50px;
   opacity: 0.9;
}
