* {
    box-sizing: border-box;
}
body {
    background-color: lightyellow;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
    height: auto;
}
.row::after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid brown;
}
.row.col2 > div {
    width: 50%;
}
.row.col3 > div {
    width: 33.33333%;
}
.row.col4 > div {
    width: 25%;
}
.row.col5 > div {
    width: 100%;
}
.row .box {
    float: left;
    padding: 5px;
}
.row .box .bin {
    background-color: bisque;
    border: 2px solid brown;
}
.row .box .bin p {
    text-align: center;
}
.img-container {
    padding: 5px;
}
nav {
    display: block;
    width: 100%;
    background-color: skyblue;
}
ul {
    list-style: none;
    margin: 15px 10px;
    display: inline-block;
    width: 500px;
}
ul::after {
    content: "";
    display: table;
    clear: both;
}
ul li {
    float: left;
    margin: 0 5px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    transition: 400ms;
    /* width: 25%; */


}
ul li:hover {
    background-color: rosybrown;
}
ul li a {
    text-decoration: none;
    color: white;
}