@import url("reset.css");
@import url("grid.css");

* {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
body {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
}
// ===================== HEADER (R1) ========================

.header {
    height: 100px;
    .r1 {
        float: left;
        padding: 40px 20px 40px 50px;    
        h1 {
            color: black;
            font-size: 22px;
        }
        ul{           
            li {
                float: right;
                a {              
                    padding: 0 10px 0 10px;
                    color: black;
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-weight: bold;
              

                }
            }
        }
    }
}
.r1:first-child {
    width: 50%;
}
.r1:last-child {
    width: 50%;
}
div::after {
    content: "";
    display: table;
    clear: both;
}
// ===================== HEADER END ========================
hr {
    margin: 0 20px 0 20px;
}

// ===================== PARALLAX ============================
.prlx {
    margin: 0 20px 0 20px;
    background-image: url(photo/ft1.jpeg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffe802;
    // color: rgb(254, 252, 143);
    position: relative;
    .prlx-inside {
        position: absolute;
        padding: 50px;
        bottom: 0;
    
        h2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 80px;
            font-weight: bold;
        }
    }
}

// ===================== PARALLAX ============================
// ===================== GRID CONT ============================
.grid-container {
    margin: 40px;
    .img-cont {
        margin: 5px;
        width: 350px;
        height: 350px;
    }
}
// ===================== GRID CONT ============================
// ===================== FOOTER ============================
.footer {
    position: relative;
    background-color: #f7f7f7;
    margin: 0 20px 0 20px;
    height: 400px;
    .ftr-cont {
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        font-size: 15px;
        .ftr {
            margin: 20px;
            h3 {
                margin: 20px;
            }
        }
        h2 {
            font-size: 40px;
        }
        i {
            font-size: 15px;
            color: black;
            margin: 5px;
        }
    }

}
// ===================== arrow ============================
.arrow {
    position: fixed;
    bottom: 60px;
    right: 50px;
    width: 30px;
    height: 30px;
    float: right;
    img {
        // background-color: #f7f7f7;
        opacity: 0.2;
    }
    }