
body {
    background-color: lightblue;
    box-sizing: border-box;
}
h1, h2{
    text-align: center;
}
.box03 {
 display: inline-block;
 height: auto;
 width: 31%;
 margin: 5px;
 background-color: lightgoldenrodyellow;
}
