.sarasas {
    letter-spacing: 5px;
    color: indigo;
    font-size: 25px;
}
ul {
    font-size: 30px;
}
body {
    background-color: lightgoldenrodyellow;
}
.bteam {
    color: black;
}
span {
    color: green;
}


